<nav class="navbar navbar-expand-md navbar-light bg-primary">
  <a class="navbar-brand">Handsontable Demo</a>
</nav>

<div class="container-fluid">


  <div class="row">
    <div class="col-md-6">
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Headers</h4>
          <button type="button" class="btn btn-info" (click)="options.columnHeaders = !options.columnHeaders">Enable / Disable Column Headers</button>
          <button type="button" class="btn btn-info" (click)="options.rowHeaders = !options.rowHeaders">Enable / Disable Row Headers</button>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Fixing</h4>
          <form class=" form-inline">
            <div class="form-group">
              <label for="">Row </label>
              <input class="form-control" name="fixedRows" [(ngModel)]="options.fixedRowsTop" type="number">
            </div>
            <div class="form-group">
              <label for="">Column Fixing</label>
              <input type="number" class="form-control" name="fixedColumns" [(ngModel)]="options.fixedColumnsLeft">
            </div>
          </form>
          
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Context Menu is  <span *ngIf="!options.contextMenu">Disabled</span> <span *ngIf="options.contextMenu">Enabled</span>  </h4>
          <button type="button" class="btn btn-info" (click)="options.contextMenu = !options.contextMenu">Enable / Disable Context Menu</button>
          
          <div *ngIf="options.contextMenu">
              <hr>
          Manual Freezing is  <span *ngIf="!options.manualColumnFreeze">Disabled</span> <span *ngIf="options.manualColumnFreeze">Enabled</span>  
          <br>
          <button type="button" class="btn btn-info" (click)="options.manualColumnFreeze = !options.manualColumnFreeze">Enable / Disable </button>
          </div>
        </div>
      </div>
      <div class="card border-dark">
        <div class="card-body">
          <h4 class="card-title">Column Sorting is <span *ngIf="!options.columnSorting">Disabled</span> <span *ngIf="options.columnSorting">Enabled</span>  </h4>
          <button type="button" class="btn btn-info" (click)="options.columnSorting = !options.columnSorting">Enable / Disable</button>
        </div>
      </div>
      <div class="card border-dark">
          <div class="card-body">
            <h4 class="card-title">Searching</h4>
            <form class=" form-inline">
              <div class="form-group">
                <label for="">Enter Search String </label>
                <input class="form-control" name="searchString" (input)="searchValue($event)" >
              </div>
            </form>
            
          </div>
        </div>
  

    </div>



    <div class="col-md-6">
      <hot-table hotId="car_table" [colHeaders]="options.columnHeaders" 
                  [fixedRowsTop]="options.fixedRowsTop"
                  [fixedColumnsLeft]="options.fixedColumnsLeft"
                  [rowHeaders]="options.rowHeaders"
                  [data]="dataset" 
                  [height]="700" [width]="650"
                  [contextMenu]="options.contextMenu"
                  [manualColumnFreeze]="options.manualColumnFreeze" 
                  [columnSorting]="options.columnSorting"
                  [sortIndicator]="true"
                  [search]="true"> </hot-table>
      

    </div>

  </div>

</div>