/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin: 5px 5px 5px 5px
}